# PandaCSS's configuration
# see also: https://panda-css.com/docs/overview/browser-support

>= 1%
last 1 major version
not dead
Chrome >= 99
Edge >= 99
Firefox >= 97
iOS >= 15.4
Safari >= 15.4
Android >= 115
Opera >= 73
